<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
     
     
     
     <bean id="mainDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
  		 <property name="driverClass" value="com.mysql.jdbc.Driver" />
  		 <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/FRICEDB" />
  		 <property name="username" value="root"/>
  		 <property name="password" value=""/>
  		 <property name="IdleConnectionTestPeriodInMinutes" value="60"/>
  		 <property name="IdleMaxAgeInMinutes" value="240"/>
  		 <property name="maxConnectionsPerPartition" value="30"/>
  		 <property name="minConnectionsPerPartition" value="10"/>
  		 <property name="partitionCount" value="3"/>
 		 <property name="acquireIncrement" value="5"/>
 		 <property name="statementsCacheSize" value="100"/>
 		 <property name="releaseHelperThreads" value="3"/>
	</bean>
	<!-- DataSource 
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/FRICEDB"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>        
    </bean> -->
    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="mainDataSource" />
    </bean>
    <!-- define the SqlSessionFactory, notice that configLocation is not needed when you use MapperFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="mainDataSource" />
        <property name="configLocation" value="classpath:NBCConf.xml" />
                <!-- mapper和resultmap配置路径 -->
        <property name="mapperLocations">
            <list>
                <!-- 表示在com.hoo.resultmap包或以下所有目录中，以-resultmap.xml结尾所有文件 -->
                <value>classpath:XML/DBmapper/*.xml</value>
            </list>
        </property>
    </bean>
 

    <!-- enable transaction demarcation with annotations  -->
    <tx:annotation-driven />

  <!-- 单独配置一个Mapper； 这种模式就是得给每个mapper接口配置一个bean -->
     <!-- -->
    <bean id="mapTaxID" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.novelbio.database.mapper.geneanno.MapTaxID" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean> 
   <!-- 单独配置一个Mapper； 这种模式就是得给每个mapper接口配置一个bean -->
     <!-- -->
    <bean id="servTaxID" class="com.novelbio.database.service.servgeneanno.ServTaxID">
        <property name="mapTaxID" ref="mapTaxID" />
    </bean> 
 
    
    <!-- 通过扫描的模式，扫描目录在com/hoo/mapper目录下，所有的mapper都继承SqlMapper接口的接口， 这样一个bean就可以了  -->
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.novelbio.database.mapper.geneanno"/>
     <!--   <property name="markerInterface" value="com.novelbio.database.mapper.MapperSql"/>-->
    </bean> 
       <!-- enable autowire -->
    <context:annotation-config />
<!--  <property name="markerInterface" value="com.novelbio.database.DAO.FriceDAO.MapperSql"/>
<property name="markerInterface" value="com.novelbio.database.mapper.MapperSql"/>
 -->

      <!-- 自动探测 enable component scanning (beware that this does not enable mapper scanning!)  -->  
    <context:component-scan base-package="com.novelbio.database.service.servgeneanno" /> 
  
</beans>