<html>
    <head>
      <title>Course List</title>
    </head>
    <body>
      <h2>COURSE LIST</h2>
      <table width="600" border="1" cellspacing="1" cellpadding="1">
        <tr bgcolor="#999999">
          <td>Course ID</td>
          <td>Name</td>
          <td>Instructor</td>
          <td>Start</td>
          <td>End</td>
        </tr>
#foreach($course in $courses)
        <tr>
          <td>
            <a href="displayCourse.htm?id=${course.id}">
              ${course.id}
            </a>
          </td>
          <td>${course.name}</td>
          <td>${course.instructor.lastName}</td>
          <td>${course.startDate}</td>
          <td>${course.endDate}</td>
        </tr>
#end // 在所有课程中循环
      </table>
    </body>
</html>