<html>
    <head>
      <title>Course List</title>
    </head>
    <body>
      <h2>COURSE LIST 在所有课程中循环</h2>
      <table width="600" border="1" cellspacing="1" cellpadding="1">
        <tr bgcolor="#999999">
          <td>Course ID</td>
          <td>Name</td>
          <td>Instructor</td>
          <td>Start</td>
          <td>End</td>
        </tr>
#foreach($course in $courses)
        <tr>
          <td>
            <a href="displayCourse.htm?id=${course.id}">
              ${course.id}
            </a>
          </td>
          <td>${course.name}</td>
          <td>${course.instructor.lastName}</td>
          <td>${course.startDate}</td>
          <td>${course.endDate}</td>
        </tr>
#end // 在所有课程中循环
      </table>
 
 <form action="test222.htm" method="POST">  
         <table border="1px" cellpadding="1" cellspacing="1" style="text-align: center" mce_style="text-align: center">  
       <!--  #if($!errMsg)  
         <tr>  
                 <td colspan="3"><font color="red">$errMsg</font></td>  
             </tr>  
         #end  -->
         <tr>  
                 <td> 登陆用户名22：</td>  
                 <td> blast #springFormCheckbox("user.check" "")</td>  
             </tr>  
             <tr>  
                 <td>密  码：</td>  
                 <td> #springFormInput("user.password" "")</td>  
                 <td> </td>  
             </tr>  
             <tr>  
                 <td>email：</td>  
                 <td> #springFormInput("user.email" "")</td>  
                 <td> </td>  
             </tr>  
         </table>  
     </form>  
    </body>
</html>